.card-title {
    color: orange;
}
.card-subtitle {
    opacity: .6;
} 

.card_details {
    .details {
        list-style-type: none;

        li {
            margin-bottom: 10px;
            color: white;

            span {
                color: grey;
            }
        }
    }
}